.video{
    margin: 25px;
}

.information{
    background-color: black;
}

body{
    /* this needs to be overwritten for no opacity */
    opacity: 1;
}

.sideBar{
    opacity: 0.8;
}

.topBar{
    opacity: 0.8;
}

.content{
    width: 1000px;
}