{% extends "master.html" %}

{% block title %} About {% endblock %}

{% block head %}

<link rel="stylesheet" href="../css/desc.css">

{% endblock %}

{% block content %}

<!--Place HTML content here-->

<div class="information">

    <h1 class="informationHeader">The Contributors</h1>

    <div class="informationParagraphs">
        <p>
        <p>Name1</p>
        <p>Name2</p>
        <p>Name3</p>
        <p>Name4</p>
        <p>Angelo Poulos - From Chicago, Illinois, is a current student at UWM, studying Computer Science.</p>
    </div>

</div>

{% endblock %}
