<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/styles.css">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}
    {% endblock %}
</head>

<body>

<div class="topBar">
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/video">THE VIDEO</a></li>
        <li><a href="/sources">SOURCES</a></li>
        <li><a href="/about">ABOUT</a></li>
    </ul>
</div>

<div class="sideBar">
    <ul>Topics
        <li><a href="/topics/Morality">Morality</a></li>
        <li><a href="/topics/Frameworks">Frameworks</a></li>
        <li><a href="/topics/Challenges">Challenges</a></li>
        <li><a href="/topics/PolicyVacuums">Policy Vacuums</a></li>
        <li><a href="/topics/PhysicalLimitations">Physical Limitations</a></li>
    </ul>
</div>

<div class="content">
    {% block content %}{% endblock %}
    <p></p>
</div>


</body>
</html>