{% extends "master.html" %}

{% block title %} Physical Limitations {% endblock %}

{% block head %}
<link rel="stylesheet" href="../css/desc.css">
<link rel="stylesheet" href="../css/sources.css">

{% endblock %}

{% block content %}

<!--Place HTML content here-->
<div class="information">

    <h1 class="informationHeader">Cited Sources</h1>
    <div class="informationParagraphs">

        <h2 class="informationHeader2">Morality</h2>
        <div class="citedSources">
            <ul>
                <li><a href = "http://ethicbots.na.infn.it/meetings/kom/veruggio.pdf">(Robo Ethics)</a></li>
                <li><a href = "http://www.roboethics.org/sanremo2004/index.php">(More Robo Ethics)</a></li>
                <li><a href = "http://en.wikipedia.org/wiki/Machine ethics">(Macine Ethics)</a></li>
                <li><a href = "http://ieexplore.ieee.org/xpl/articleDetails.jsp?arnumber=1667948">(More Machine Ethics)</a></li>
                <li><a href = "http://www.nickbostrom.com/ethics/artificial-intelligence.pdf">(Bostrom Article on Robot Morality></a></li>
                <li><a href = "http://observer.com/2015/08/stephen-hawking-elon-musk-and-bill-gates-warn-about-artificial-intelligence/">(The Warning)</a></li>
            </ul>
        </div>

        <h2 class="informationHeader2">Frameworks</h2>
        <div class="citedSources">
            <ul>
                <li><a href = "http://arstechinca.com/gadgets/2015/07/musk-hawking-wozniak-call-for-ban-on-autonomous-weaponry-and-military-ai/">(More warnings!)</a></li>
                <li><a href = "http://www.dtic.mil/whs/directives/corres/pdf/300009p.pdf">(Department of Defense)</a></li>
                <li><a href = "http://www.thenewatlantis.com/publications/the-problem-with-friendly-artificial-intelligence">(New Atlantis Article)</a></li>
            </ul>
        </div>

        <h2 class="informationHeader2">Challenges</h2>
        <div class="citedSources">

        </div>

        <h2 class="informationHeader2">Policy Vacuums</h2>
        <div class="citedSources">

        </div>

        <h2 class="informationHeader2">Physical Limitations</h2>
        <div class="citedSources">
            <ul>
                <li><a href="http://berglas.org/Articles/AIKillGrandchildren/AIKillGrandchildren.html">
                    Artificial Intelligence Will Kill Our Grandchildren (Singularity) by Dr. Anthony Berglas
                </a></li>
                <li><a href=" https://www.google.com/selfdrivingcar/how/">
                    Google Self-Driving Car Project
                </a></li>
                <li><a href="http://www.economist.com/blogs/economist-explains/2013/04/economist-explains-how-self-driving-car-works-driverless">
                    How does a self-driving car work?
                </a></li>
                <li><a href="http://www.defenseone.com/technology/2014/12/militarys-new-years-resolution-artificial-intelligence/102102/">
                    The Military's New Year's Resolution for Artificial Intelligence by Patrick Tucker
                </a></li>
                <li><a href="http://www.wired.com/2010/08/reverse-engineering-brain-kurzweil/">
                    Reverse-Engineering of Human Brain Likely by 2030, Expert Predicts by Priya Ganapati
                </a></li>
                <li><a href="http://www.militaryaerospace.com/articles/2014/06/ugv-artificial-intelligence.html">
                    Army Considers Artificial Intelligence and Machine Learning for Unmanned Ground Vehicles (UGVs) by John Keller
                </a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
